 @media screen {
    @font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('http://mirrors.creativecommons.org/presskit/cc-icons.ttf') format('truetype');
    }

    span.cc {
        font-family: 'CC-ICONS';
        color: #ABB3AC;
    }
 }

body {
    background-color: Linen;
}

  A:hover {color: cyan;}
  h4 {color: gray;}

.content {
    width: auto;
    height: auto;
    border: 1px solid #c0c0c0;
    display: flex;
}

#col {flex-direction: column;}

#row {flex-direction: row;}

.pictures { 
    padding: 35px;
    margin: 35px;
    height: auto;
    width: auto;
    border: 3px lightblue;
}

.caption {
  padding: 5px 10px 40px 5px;
  margin: 5px 5px 5px 5px;
  width: auto;
  height: auto;
  border: 3px solid  lightblue;  /* #73AD21; */
  text-align: justify;
}

.features {
    padding: 5px;
    margin: 15px;
    width: auto;
    height: auto;
    border: 3px solid rebeccapurple;
    text-align: justify;
}

.articles {
    padding: 5px;
    margin: 10px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: Cornsilk;
}



